---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

import { SpaceInfoCard } from "@/components/SpaceInfoCard";
import { Button } from "@/components/ui/button";

import { CatCard } from "@/components/CatCard";
import CatCardsNew from "@/components/CatCardsNew.astro";
import { initStorachaClient, loadStorachaConfig } from "@repo/content";

export const prerender = true;

const { keyString, proofString } = loadStorachaConfig();

const { client, space } = await initStorachaClient({
	keyString,
	proofString,
});

const httpcats = await getCollection("httpcat");

Astro.props.space = space;
const catIds = httpcats.map(({ id }) => id);
---

<Layout>
    <div class="container">
        <h2 class="text-2xl font-bold">
            HTTP Cat
        </h2>
        <SpaceInfoCard name={space.name} did={space.did()} />
        <div class="my-2 py-2">
            <a href="/httpcat/upload">
                <Button variant="outline">
                Upload
                </Button>
            </a>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {httpcats.map(({data}:{data: CollectionEntry<'httpcat'>['data']}) => (
                <CatCard id={data.id} imageSrc={data.imageSrc} />
            ))}
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <CatCardsNew existingIds={catIds} />
        </div>


    </div>
</Layout>
